---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import CommonHero from '../components/hero/CommonHero.astro';
import CTA from '../components/cta/CommonCAT.astro';
---

<Layout>
	<Header />
	
	<main class="scroll-container">
		<!-- Hero Section -->
		<section class="scroll-section cta-section" data-section="cta">
			<CommonHero pageName="about" />
		</section>
		<section class="scroll-section cta-section" data-section="cta">
			<CTA pageName='about' />
		</section>
		<section class="scroll-section footer-section" data-section="footer">
			<Footer />
		</section>
	</main>
</Layout>

<script>
	import { loadTranslations } from '../scripts/i18n-loader';
	loadTranslations();
</script>

<style>
	.cta-section,
	.footer-section {
		min-height: auto;
	}

	@media (max-width: 768px) {
		
	}
</style>
