---
import FinancialServices from '../../assets/industries/FinancialServices.png';
import Manufacturing from '../../assets/industries/Manufacturing.png';
import Technology from '../../assets/industries/Technology.png';
import Healthcare from '../../assets/industries/Healthcare.png';
import Retail from '../../assets/industries/Retail.png';
import Energy from '../../assets/industries/Energy.png';
import ProfessionalServices from '../../assets/industries/ProfessionalServices.png';
import bgEarth from '../../assets/industries/bg_earth.png';

const imgs = [
    {img: FinancialServices, text: 'FinancialServices'},
    {img: Manufacturing, text: 'Manufacturing'},
    {img: Technology, text: 'Technology'},
    {img: Healthcare, text: 'Healthcare'},
    {img: Retail, text: 'Retail'},
    {img: Energy, text: 'Energy'},
    {img: ProfessionalServices, text: 'ProfessionalServices'}
];
---

<section class="section-container covered-section" id="covered-section">
    <!-- <div class="bg-earth"> -->
    <div class="container" id="covered-section-container">
        <div class="feature-slide" data-index={0}>
            <h2 class="covered-title" data-i18n="industries.covered.title"></h2>
            <div class="feature-slider-content">
                {
                    imgs.map(({img, text},index) => (
                        <div class="covered-item" data-index={index}>
                            <div class="covered-item-title" data-i18n={`industries.covered.${text}`}></div>
                            <img class="covered-item-img" src={img.src} alt="" />
                        </div>
                    ))
                }
            </div>
        </div>
    </div>
</section>

<style define:vars={{ 
  bgEarth: `url(${bgEarth.src})`,
}}>
    .section-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: calc(100vh - 4.75rem);
        position: relative;
    }

    .covered-section::before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		top: 0;
		z-index: -1;
        height: 21.875rem;
        margin: auto;
        background: linear-gradient(90deg, #FBE5CF 0%, #AFC9FF 100%);
        filter: blur(98.0999984741211px);
    }

    .covered-section::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        max-width: 67rem;;
        aspect-ratio: 1072/1071;
        background-image: var(--bgEarth);
        background-repeat: no-repeat;
        /* background-position: center; */
        background-size: cover;
        transition: all 0.8s ease;
    }

    .covered-section[active-slider="0"]::after {
        background-position: top -10vh center;
        transform: translateX(-65%);
    }

    .covered-section[active-slider="1"]::after {
        background-position: top 0 center;
        transform: rotate(-26.977deg) translateX(-30%) translateY(0);
    }

    .covered-section[active-slider="2"]::after {
        background-position: top 0 center;
        transform: rotate(-60deg) translateX(30%) translateY(70vh);
    }

    .covered-section[active-slider="3"]::after {
        background-position: top 0 center;
        transform: rotate(-60deg) translateX(-10%) translateY(20vh);
    }

    .covered-section[active-slider="4"]::after {
        background-position: top 0 center;
        transform: rotate(-125.329deg) translateX(0) translateY(-50vh);
    }

    .container {
        max-width: var(--max-width);
        margin: 0 auto;
        padding: 0 1rem;
        min-height: calc(100vh - 4.75rem);
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        z-index: 1;
    }

    .covered-section[active-slider="1"],
    .covered-section[active-slider="2"],
    .covered-section[active-slider="3"],
    .covered-section[active-slider="4"] {
        overflow: hidden;
    }

    .feature-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.375rem;
        width: 100%;
        flex: 1;
        flex-wrap: wrap;
        position: relative;
    }

    .feature-slider-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        gap: 1.375rem 5.1875rem;
        flex-wrap: wrap;
        position: relative;
    }
    .covered-title {
        color: var(--grey-gray-60-base, #111827);
        text-align: center;
        font-size: 2.5rem;
        line-height: 124%; /* 39.68px */
        letter-spacing: -0.352px;
        width: 100%;
        margin: 0 auto;
        transition: all 0.8s ease;
        position: absolute;
    }

    .feature-slide-pre.feature-slide[data-index="0"] .covered-title {
        transform: translateY(-80vh);
    }
    .feature-slide[data-index="0"] .covered-title {
        transform: translateY(0);
    }
    .feature-slide[data-index="4"] .covered-title {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
    }

    .covered-item {
        display: flex;
        max-width: 16.5rem;
        /* width: 14.5rem; */
        padding: 1.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        border-radius: 12px;
        border: 1px solid var(--Neutrals-White-00, #FFF);
        background: var(--Grey-Gray-10, rgba(17, 24, 39, 0.05));
        backdrop-filter: blur(7.5px);
        transition: all 0.8s ease;
    }

    .covered-item-img {
        width: 11.375rem;
    }

    .covered-item-title {
        font-feature-settings: 'liga' off, 'clig' off;
        /* Body Text/00 Semibold */
        font-family: Inter;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 600;
        line-height: 133.333% ; /* 133.333% */
        background: var(--AI-Gradient-Neon-Horizon-Heavy, linear-gradient(131deg, #5386FA 9.64%, #8B5CF6 89.29%));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
    }
    /* pre */
    .feature-slide-pre.feature-slide[data-index="0"] .covered-item[data-index="0"] {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 0;
        transform: translateY(-60vh) rotate(-45deg);
    }

    .feature-slide-pre.feature-slide[data-index="0"] .covered-item[data-index="1"] {
        position: absolute;
        right: 5rem;
        transform: translateY(-20vh) rotate(-30deg);
    }

    .feature-slide-pre.feature-slide[data-index="0"] .covered-item[data-index="2"] {
        position: absolute;
        left: 4rem;
        transform: translateY(-20vh) rotate(30deg);
    }

    .feature-slide-pre.feature-slide[data-index="0"] .covered-item[data-index="3"],
    .feature-slide-pre.feature-slide[data-index="0"] .covered-item[data-index="4"],
    .feature-slide-pre.feature-slide[data-index="0"] .covered-item[data-index="5"],
    .feature-slide-pre.feature-slide[data-index="0"] .covered-item[data-index="6"] {
        position: absolute;
        transform: translateY(50vh) rotate(0deg);
    }
    /* pre */


    /* data-index="0" - 初始状态 */
    .feature-slide[data-index="0"] .covered-item[data-index="0"] {
        position: absolute;
        margin: 0 auto;
        transform: translateY(-20vh) rotate(0deg);
    }

    .feature-slide[data-index="0"] .covered-item[data-index="1"] {
        position: absolute;
        right: 5rem;
        transform: translateY(15vh) rotate(-15deg);
    }

    .feature-slide[data-index="0"] .covered-item[data-index="2"] {
        position: absolute;
        left: 4rem;
        transform: translateY(30vh) rotate(15deg);
    }

    .feature-slide[data-index="0"] .covered-item[data-index="3"],
    .feature-slide[data-index="0"] .covered-item[data-index="4"],
    .feature-slide[data-index="0"] .covered-item[data-index="5"],
    .feature-slide[data-index="0"] .covered-item[data-index="6"] {
        position: absolute;
        transform: translateY(100vh) rotate(0deg);
    }

    .feature-slide[data-index="0"] .covered-item[data-index="6"] {
        margin: 0 auto;
    }

    /* data-index="1" */
    .feature-slide[data-index="1"] .covered-item[data-index="0"],
    .feature-slide[data-index="2"] .covered-item[data-index="0"],
    .feature-slide[data-index="3"] .covered-item[data-index="0"],
    .feature-slide[data-index="3"] .covered-item[data-index="3"] {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        transform: translateY(-100vh) rotate(0deg);
    }

    .feature-slide[data-index="1"] .covered-item[data-index="1"] {
        position: absolute;
        right: 5rem;
        transform: translateY(-35vh) rotate(0deg);
    }

    .feature-slide[data-index="1"] .covered-item[data-index="2"] {
        position: absolute;
        left: 4rem;
        transform: translateY(-30vh) rotate(0deg);
    }

    .feature-slide[data-index="1"] .covered-item[data-index="3"] {
        position: absolute;
        margin: 0 auto;
        transform: translateY(0) rotate(-24.259deg);
    }

    .feature-slide[data-index="1"] .covered-item[data-index="4"],
    .feature-slide[data-index="1"] .covered-item[data-index="5"],
    .feature-slide[data-index="1"] .covered-item[data-index="6"] {
        position: absolute;
        transform: translateY(100vh) rotate(0deg);
    }

    .feature-slide[data-index="1"] .covered-item[data-index="4"] {
        left: 20%;
    }

    .feature-slide[data-index="1"] .covered-item[data-index="5"] {
        position: absolute;
        right: 4rem;
        transform: translateY(50vh) rotate(30deg);
    }

    .feature-slide[data-index="1"] .covered-item[data-index="6"] {
        margin: 0 auto;
    }

    .feature-slide[data-index="2"] .covered-item[data-index="1"],
    .feature-slide[data-index="3"] .covered-item[data-index="1"] {
        position: absolute;
        right: 4rem;
        transform: translateY(-100vh) rotate(0deg);
    }

    .feature-slide[data-index="2"] .covered-item[data-index="2"],
    .feature-slide[data-index="3"] .covered-item[data-index="2"] {
        position: absolute;
        left: 4rem;
        transform: translateY(-100vh) rotate(0deg);
    }

    .feature-slide[data-index="2"] .covered-item[data-index="3"] {
        position: absolute;
        transform: translateY(-40vh) rotate(0deg);
    }

    .feature-slide[data-index="2"] .covered-item[data-index="4"] {
        position: absolute;
        left: 4rem;
        transform: translateY(30vh) rotate(27.142deg);;
    }

    .feature-slide[data-index="2"] .covered-item[data-index="5"] {
        position: absolute;
        right: 4rem;
        transform: translateY(0) rotate(15deg);
    }

    .feature-slide[data-index="2"] .covered-item[data-index="6"] {
        position: absolute;
        margin: 0 auto;
        transform: translateY(60vh) rotate(-45deg);
    }

    .feature-slide[data-index="3"] .covered-item[data-index="4"] {
        position: absolute;
        left: 4rem;
        transform: translateY(5vh) rotate(0deg);;
    }

    .feature-slide[data-index="3"] .covered-item[data-index="5"] {
        position: absolute;
        right: 4rem;
        transform: translateY(-25vh) rotate(0);
    }

    .feature-slide[data-index="3"] .covered-item[data-index="6"] {
        position: absolute;
        transform: translateY(25vh) rotate(0deg);
    }

    /* data-index="4" - 最终状态，所有卡片回正并显示 */
    .feature-slide[data-index="4"] .covered-item {
        position: relative;
        transform: translateY(0) rotate(0deg);
    }

    .feature-slide[data-index="4"] .covered-title {
        width: 100%;
        position: relative;
        transform: translateY(0) rotate(0deg);
    }
    
    @media (max-width: 768px) {
        .feature-slide {
            gap: 1.5rem;
        }

        .covered-title {
            position: relative;
            text-align: left;
            font-size: 1.5rem;
            line-height: 120%;
        }
        .feature-slider-content {
            gap: 0.25rem;
            justify-content: left !important;
        }
		.covered-item {
			transform: none !important;
            left: 0 !important;
            top: 0 !important;
            right: 0 !important;
            position: relative !important;
            margin: 0 !important;
            width: calc(50% - 0.125rem);
            padding: 1.125rem;
            gap: 0.75rem;
		}

        .covered-item-title {
            font-size: 0.8125rem;
            line-height: 133.333%;
            margin-bottom: 0;
        }
	}
</style>

<script>
  import { loadTranslations } from '../../scripts/i18n-loader';
  loadTranslations();

  const section = document.getElementById('covered-section');
  const slider = document.getElementById('covered-section-container');
  
  const isMobile = window.matchMedia('(max-width: 768px)').matches;
  if (section && slider && !isMobile) {
    let currentIndex = 0;
    const slides = slider.querySelectorAll('.feature-slide');
    const totalSlides = 5; // 0-4 共5个状态

    const updateSlide = (index: number) => {
        section.setAttribute('active-slider', index.toString())
      slides.forEach((slide) => {
        slide.setAttribute('data-active', 'true');
        slide.setAttribute('data-index', index.toString());
      });
    };

    updateSlide(0);

    let isScrolling = false;
    section.addEventListener('wheel', (e) => {
      if (isScrolling) return;
      
      e.preventDefault();
      e.stopPropagation();
      isScrolling = true;

      if (e.deltaY > 0) {
        // 向下滚动
        if (currentIndex < totalSlides - 1) {
          currentIndex++;
        }
      } else {
        // 向上滚动
        if (currentIndex > 0) {
          currentIndex--;
        }
      }

      updateSlide(currentIndex);

      setTimeout(() => {
        isScrolling = false;
      }, 800);
    }, { passive: false });
  }
</script>